
<f:layout name="Default" />

<f:section name="main">
<h1>Best&auml;nde unseres Archivs</h1>

<f:flashMessages />
	
	<f:for each="{bestands}" as="bestand">
    <div style="clear:both">
    	<div style="float:left;border:1px solid #666;margin:0 20px 20px 0">
        <f:link.action action="show" arguments="{bestand : bestand}"> 
        	<img src="<f:uri.image src='uploads/tx_ddarchiv/{bestand.image}' width='100' />" />
        </f:link.action>
        </div>
		<f:link.action action="show" arguments="{bestand : bestand}"> <h2>{bestand.name}</h2></f:link.action>
		<f:link.action action="show" arguments="{bestand : bestand}"> {bestand.description}</f:link.action>
	 </div>	
	</f:for>
	  
</f:section>
