<f:layout name="Default" />

<f:section name="main">
<h1>Bestand {bestand.name}</h1>

<f:flashMessages />
<div style="float:left;border:1px solid #666;margin:0 20px 20px 0">
	<img src="<f:uri.image src='uploads/tx_ddarchiv/{bestand.image}' width='400' />" />
</div>

<f:render partial="Bestand/Properties" arguments="{bestand:bestand}" />

<hr style="clear:both">

<div style="float:left;width:420px;margin:0 20px 20px 0">
<h2>Personenverzeichnis</h2>
	<f:for each="{bestand.persons}" as="person">
    <div style="clear:both">
    	<p>
		<f:link.action action="show" controller="Person" arguments="{person : person}">{person.firstname} {person.name}</f:link.action>
		</p>
	 </div>	
	</f:for>
</div>
<div style="float:left;margin:0 20px 20px 0">	
<h2>Dokumente</h2>
	<f:for each="{bestand.documents}" as="document">
    <div style="clear:both">
    	<p>
		<f:link.action action="show" controller="Document" arguments="{document : document}">{document.title}</f:link.action>
		</p>
	 </div>	
	</f:for>
</div>	
<hr style="clear:both">
<p>
<f:link.action action="list">Zur Liste</f:link.action>
</p>

</f:section>
