<table class="tx-ddarchiv" >
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.title" />
		</td>
		<td>
			{bestand.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.description" />
		</td>
		<td>
			{document.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.provenience" />
		</td>
		<td>
			{document.provenience}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.year_from" />
		</td>
		<td>
			{document.yearFrom -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.year_to" />
		</td>
		<td>
			{document.yearTo -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.loc" />
		</td>
		<td>
			{document.loc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.longitude" />
		</td>
		<td>
			{document.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.latitude" />
		</td>
		<td>
			{document.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_document.image" />
		</td>
		<td>
			{document.image}
		</td>
	</tr>
</table>
