<table class="tx-ddarchiv" >
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_bestand.provenience" />
		</td>
		<td>
			{bestand.provenience}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_bestand.year_from" />
		</td>
		<td>
			{bestand.yearFrom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_bestand.year_to" />
		</td>
		<td>
			{bestand.yearTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_bestand.loc" />
		</td>
		<td>
			{bestand.loc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_bestand.longitude" />
		</td>
		<td>
			{bestand.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ddarchiv_domain_model_bestand.latitude" />
		</td>
		<td>
			{bestand.latitude}
		</td>
	</tr>
	
</table>
